/* Default cursor visible everywhere */
body {
  cursor: auto;
}

/* Hide system cursor when hovering links */
a {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url('/assets/img/skull.svg');
  background-size: cover;
  pointer-events: none;
  z-index: 9999;
  opacity: 0;

  /* use scale only for hover effect */
  transition: opacity 0.15s ease, transform 0.05s linear;
}

.custom-cursor.hover-grow {
  transform: scale(1.5); /* scale will be merged with translate3d in JS */
}