.legal-page {
  height: 100vh;
  background-color: black;
  color: white;
  padding: 16px 16px 16px 16px;
  padding: 1rem;
  font-family: 'Special Elite', monospace, sans-serif;
  line-height: 1.6;
}

h1 {
  padding-top: 164px;
}